<!--
  Generated template for the AjustesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark" text-center>
    <ion-title>AJUSTES</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <ion-card>
    <ion-card-header>
      Ajustes
    </ion-card-header>

    <ion-list>
      <button ion-item (click)="openModalUsuario()">
        <ion-icon name="contact" item-start></ion-icon>
        Usuario
      </button>

      <button ion-item>
        <ion-icon name="information-circle" item-start></ion-icon>
        información del sistema
      </button>

      <button ion-item>
        <ion-icon name="help-circle" item-start></ion-icon>
        Preguntas frecuentes
      </button>

      <button ion-item>
        <ion-icon name="refresh-circle" item-start></ion-icon>
        Ultima actualización
      </button>


    </ion-list>
  </ion-card>
  <img src="assets/imgs/guirao.png" alt="Guirao Mayorista">
</ion-content>
