<ion-header>

  <ion-navbar color="dark">
    <ion-title text-center>RESUMEN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let pedidoVenta of pedidoVentas">
    <ion-card-content>
      <ion-card-title>
        {{pedidoVenta.cliente.persona.nombre}} {{pedidoVenta.cliente.persona.apellido}}
      </ion-card-title>
      <p>Fecha: {{pedidoVenta.fecha | date:'dd/MM/yyyy'}} Número: {{pedidoVenta.numero}}</p>
      <p>Monto: {{pedidoVenta.monto | currency: '$':true:'1.3-3'}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="eye"></ion-icon>
          <div>Mostrar</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="create"></ion-icon>
          <div>Editar</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- <ion-list>
    <ion-list-header>
      PEDIDOS CARGADOS
    </ion-list-header>
    <ion-item *ngFor="let pedidoVenta of pedidoVentas">
      <h2 text-lowercase text-capitalize> {{pedidoVenta.cliente.persona.nombre}} {{pedidoVenta.cliente.persona.apellido}}</h2>
      <p>Fecha: {{pedidoVenta.fecha | date:'dd/MM/yyyy'}}</p>
      <p>Número: {{pedidoVenta.numero}}</p>
    </ion-item>
  </ion-list> -->

</ion-content>
