  <!--
  Generated template for the AjustesModalUsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons left>
      <button ion-button icon-only color="light"
              (click)="cerrarModal()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card [hidden]="userActivo">
   <ion-card-header>
     <ion-card-title>USUARIO ACTIVO</ion-card-title>
   </ion-card-header>
    <ion-item>
      <ion-avatar item-start>
        <img style="width:40px;" src="assets/imgs/user.png">
      </ion-avatar>
      <h2>{{usernameActivo}}</h2>
      <p>preventista</p>
    </ion-item>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>LOGIN</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label>Nombre de Usuario</ion-label>
    </ion-item>
    <ion-item>
      <ion-input color="dark" [(ngModel)]="username" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña</ion-label>
    </ion-item>
    <ion-item>
      <ion-input color="dark" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button icon-start clear item-end
              (click)="iniciaSesion()">
        <ion-icon name="person"></ion-icon>
        Iniciar sesión
      </button>
    </ion-item>


  </ion-card>
</ion-content>
