<ion-header>

  <ion-navbar color="dark">
    <ion-title text-center>CLIENTES</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-searchbar placeholder="Buscar" [(ngModel)]="searchTerm"  (ionInput)="setClientesFiltrados()"></ion-searchbar>
  <ion-item>
      <ion-label>Buscar por:</ion-label>
      <ion-select [(ngModel)]="buscarClientePor" (ionChange)="onChange($event)" interface="popover">
        <ion-option selected value="nombre" >Nombre</ion-option>
        <ion-option value="apellido" >Apellido</ion-option>
        <ion-option value="cuit">Cuit</ion-option>
       
      </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let cliente of clientes  | slice:0:50; let i=index">
      <h2>{{ cliente.persona.nombre }} {{ cliente.persona.apellido }}</h2>
      <p> CUIT: {{ cliente.persona.cuit }}</p>
    </ion-item>
  </ion-list>

</ion-content>
