<!--
  Generated template for the PedidosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark" text-center>
    <ion-title>PEDIDOS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid id="menu-principal">
    <ion-row>
      <ion-col col-12 button-end>
        <h2 class="title-pedidos" float-left>1- Elegir Cliente</h2>
        <button color="danger" ion-button icon-only float-right
                (click)="openModalCliente()">
          <ion-icon name="person-add"></ion-icon>
        </button>
        <ion-list>
          <ion-item>
            <h2> {{cliente.nombre}} {{cliente.apellido}}</h2>
             <p> {{cliente.cuit}}</p>
          </ion-item>
        </ion-list>

      </ion-col>
      <ion-col col-12 button-end>
        <h2 class="title-pedidos" float-left>2- Elegir Productos</h2>
        <button color="danger" ion-button icon-only float-right
                (click)="openModalProductos()">
          <ion-icon name="add"></ion-icon>
        </button>
        <ion-list>
          <ion-item-sliding  *ngFor="let listaProducto of listaProductos; let i = index">
            <ion-item item-content>
              <h2> {{listaProducto.stock.producto.descripcion}}</h2>
              <p> codigo: {{listaProducto.stock.producto.codigo}}</p>
              <p> precio unitario: $ {{listaProducto.stock.producto.precioCompra | number : '1.2-2'}}</p>
              <p> total: $ {{listaProducto.subTotal | number : '1.2-2'}}</p>
            </ion-item>
            <ion-item item-content>
              <ion-label color="dark">cantidad:</ion-label>
              <ion-input type="number" [(ngModel)]="listaProducto.cantidad"  name="cantidad{{i}}"
                         (change)="calcularSubtotales(listaProducto)" >
              </ion-input>
            </ion-item>

            <ion-item-options side="right">
              <button ion-button color="danger" (click)="removeProducto(i, producto)">
              <ion-icon name="trash"></ion-icon>
                Borrar
              </button>
            </ion-item-options>

          </ion-item-sliding>
        </ion-list>
      </ion-col>
      <ion-col col-12>
        <button color="danger" ion-button float-right
                button-end *ngIf="productoCargado && clienteCargado"
                 (click)="enviar()">
          ENVIAR
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
