<!--
  Generated template for the PedidosModalClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons left>
      <button ion-button icon-only color="light"
              (click)="cerrarModal()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Elegir Cliente</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-searchbar placeholder="Buscar" #searchbar [(ngModel)]="searchTerm"  (ionInput)="setClientesFiltrados()"></ion-searchbar>
  <ion-item>
      <ion-label>Buscar por:</ion-label>
      <ion-select [(ngModel)]="buscarClientePor" (ionChange)="onChange($event)" interface="popover">
        <ion-option selected value="nombre" >Nombre</ion-option>
        <ion-option value="apellido" >Apellido</ion-option>
        <ion-option value="cuit">Cuit</ion-option>
      </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let cliente of clientes | slice:0:80; let i=index"
              (click)="cerrarModal(cliente.persona.nombre, cliente.persona.apellido, cliente.persona.cuit, cliente.id)">
              <h2>{{ cliente.persona.nombre }} {{ cliente.persona.apellido }}</h2>
              <p> CUIT: {{ cliente.persona.cuit }}</p>
    </ion-item>
  </ion-list>
</ion-content>
