<!--
  Generated template for the PedidosModalClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons left>
      <button ion-button icon-only color="light"
              (click)="cerrarModal()">
        <ion-icon name="arrow-dropleft-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Elegir Producto</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-searchbar [type]="type"  #searchbar placeholder="Buscar" [(ngModel)]="searchTerm"  (ionInput)="setProductosFiltrados()"></ion-searchbar>
  <ion-item>
      <ion-label>Buscar por:</ion-label>
      <ion-select [(ngModel)]="buscarProductosPor" interface="popover" (ionChange)="tipoDeBusqueda()">
        <ion-option selected value="nombre" >Nombre</ion-option>
        <ion-option value="codigo">Codigo</ion-option>
        <ion-option disabled value="marca">Marca</ion-option>
      </ion-select>
  </ion-item>


  <ion-list>
    <ion-item *ngFor="let stock of stocks | slice:0:80; let i=index"
              (click)="showPrompt(stock)">
              <h2 text-lowercase text-capitalize> {{ stock.producto.descripcion }}</h2>
              <p>Codigo: {{ stock.producto.codigo }}  Marca: {{ stock.producto.marca.descripcion }}</p>
              <p>Precio: {{ stock.producto.precioCompra }}</p>
    </ion-item>
  </ion-list>

</ion-content>
